@using UalaSelecionado8.Theme
@inherits LayoutComponentBase


<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />
<style>
    html, body{
        background: linear-gradient(91.65deg, #FF0000 0.15%, rgba(255, 23, 4, 0.613922) 99.98%, rgba(255, 53, 8, 0.114583) 99.99%, rgba(255, 48, 2, 0) 100%);
    }
</style>
<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Elevation="25" Class="pa-8 justify-center rounded-lg"  Width="100%" MaxWidth="500px">
            <div class="d-flex justify-center">
                <MudImage ObjectPosition="ObjectPosition.Center" Style="width: 100%;" Src="img/Logo.png" />
            </div>
            @Body
        </MudPaper>
    </div>
</MudContainer>

@code {
    private readonly MudTheme _currentTheme = new MudBlazorAdminDashboard();
}