@using UalaSelecionado8.Theme
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
<MudThemeProvider IsDarkMode="_isDarkMode" Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="3">
        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
            <MudLink Href=""><MudImage Src="" /></MudLink>
        </MudHidden>
        <MudSpacer />
        <MudMenu AnchorOrigin="Origin.BottomRight" LockScroll="true" TransformOrigin="Origin.TopRight">
            <ActivatorContent>
                <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" />
            </ActivatorContent>
            <ChildContent>
                <div style="min-width: 220px">
                    <PersonCard />
                    <MudMenuItem Href="/profile">
                        <div class="d-flex">
                            <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Person" />
                            <MudText>Account</MudText>
                        </div>
                    </MudMenuItem>
                    <MudMenuItem Href="/home">
                        <div class="d-flex">
                            <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Factory" />
                            <MudText>Home</MudText>
                        </div>
                    </MudMenuItem>
                    <div class="mt-4 mx-4">
                        <MudButton Color="Color.Error" FullWidth="true" StartIcon="@Icons.Material.Filled.Logout"
                                   Variant="Variant.Filled" OnClick="Logout">
                            Logout
                        </MudButton>
                    </div>
                </div>
            </ChildContent>
        </MudMenu>
    </MudAppBar>
    <MudMainContent>
        <MudContainer Class="pa-4" MaxWidth="MaxWidth.False">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code {
    private bool _isDarkMode;
    readonly MudTheme _currentTheme = new MudBlazorAdminDashboard();
    async Task Logout()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("/");
    }
}
