@page "/"
@layout HomeLayout
<PageTitle>Alau - Inicio</PageTitle>

<div style="height:75vh;background-color:red;">
    <MudStack Justify="Justify.Center" Style="height:100%; flex-wrap:wrap" AlignItems="AlignItems.Center" Row="true">
        <MudImage Style="width:45%;" Src="/img/HeroImg.png"></MudImage>
        <MudText Typo="Typo.h3" Align="Align.Center" Style="Color:#ffffffff;font-family: 'Ubuntu', sans-serif;"><b>Comenzá hoy a invertir</b></MudText>
    </MudStack>
</div>

    <MudButton Variant="Variant.Filled" FullWidth="false">DESCARGA LA APP</MudButton>


